{% extends "base.html" %}
{% load static %}
{% block title %}Task{% endblock title %}
{% block page-title %}Task Details{% endblock page-title %}
<!--style-->
{% block style %}
{% endblock style %}

{% block content %}


    <!-- ====================================
    ——— CONTENT WRAPPER
    ===================================== -->
    <div class="content-wrapper">
        <div class="content">
            <div class="card card-default">
                <div class="card-header">

                    <!--Task Details-->
                    <form class="form-group col-12" method = "POST">
                        {% csrf_token %}
                        <div class="form-group col-12">
                            <!--Ticket Name-->
                            <div class="form-group col-6">
                                <label for="ticket_name">Ticket Name</label>
                                <input type="text" class="form-control" id="ticketname" name = "ticket_name" aria-describedby="ticketnameeHelp" placeholder="Enter Name" value="{{ ticket.ticket_name }}">
                            </div>

                            <!--customer-->
                            <div class="form-group col-6">
                                <label for="customer">Customer</label>
                                <select class="form-control" id="customer" name = "customer" >
                                {% for i in customers %}
                                <option value="{{ i.id }}" {% if i.id == ticket.customer_id %}selected{% endif %}>
                                    {{ i.name }}
                                </option>
                                {% endfor %}
                                </select>
                            </div>
                        </div>

                        <div class="form-group col-12 d-flex">
                            <!--Ticket Type-->
                            <!-- <div class="form-group col-4">
                                <label for="exampleFormControlSelect12">Ticket Type</label>
                                <select class="form-control" id="exampleFormControlSelect12">
                                <option>Incident</option>
                                <option>Operational Change</option>
                                <option>Standard Enhancement</option>
                                <option>Normal Enhancement</option>
                                </select>
                            </div> -->

                            <!--Date Opened-->
                            <div class="form-group col-4">
                                <label for="date_opened">Date Opened</label>
                                <input type="date" class="form-control" id="date_opened" aria-describedby="dateHelp" name = "date_opened" value="{{ ticket.date_opened|date:'Y-m-d' }}" readonly>
                            </div>

                            <!--Priority-->
                            <div class="form-group col-4">
                                <label for="priority">Priority</label>
                                <select class="form-control" id="priority_type" name = "priority">
                                    {% for i in priority_types %}
                                    <option value="{{ i.id }}" {% if i.id == ticket.priority_id %}selected{% endif %}>
                                        {{ i.priority_name }}
                                    </option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>

                        <div class="form-group col-12 d-flex">
                            <!--Assigned To-->
                            <div class="form-group col-4">
                                <label for="assigned_to">Assigned To</label>
                                <select class="form-control" id="assigned_to" name = "assigned_to">
                                    {% for i in users %}
                                    <option value="{{ i.id }}" {% if i.id == ticket.assigned_to_id %}selected{% endif %}>
                                        {{ i.username }}
                                    </option>
                                    {% endfor %}
                                </select>
                            </div>

                            <!--Last Updated-->
                            <div class="form-group col-4">
                                <label for="last_updated">Last Updated</label>
                                <input type="date" class="form-control" id="last_updated" name= "last_updated" aria-describedby="lastupdateHelp" value="{{ ticket.last_updated|date:'Y-m-d' }}">
                            </div>

                            <!--State-->
                            <!-- <div class="form-group col-4">
                                <label for="exampleFormControlSelect12">State</label>
                                <select class="form-control" id="exampleFormControlSelect12">
                                    <option>New</option>
                                    <option>In Progress</option>
                                    <option>Completed</option>
                                    <option>Hold</option>
                                    <option>Cancel</option>
                                </select>
                            </div> -->
                        </div>

                        <!--Short Description-->
                        <div class="form-group col-12">
                            <label for="short_description">Short Description</label>
                            <textarea class="form-control" id="short_description" name = "short_description" rows="5">{{ ticket.short_description }}</textarea>
                        </div>

                        <!--Comments-->
                        <div class="form-group col-12">
                            <label for="comments">Comments</label>
                            <textarea class="form-control" id="comments" name="comments" rows="3">{{ ticket.comments }}</textarea>
                        </div>

                        <!--footer-->
                        <div class="modal-footer ">
                            <button type="submit" class="btn btn-success btn-sm" >Save Changes</button>
                            <button type="button" class="btn btn-danger btn-sm">
                                <a href="{% url 'task' %}" style="text-decoration:none; color:white">Close</a>
                            </button>
                        </div>
                    </form>


                
                    <!--User Comments-->

                    <form class="form-group col-12">
                        
                        {% csrf_token %}
                        <!--User Comments-->
                        <div class="form-group col-12">
                            <label for="user_comments">User Comments</label>
                            <textarea class="form-control" id="user_comments" name = "user_comments" rows="3" {% if user.is_superuser %}readonly{% endif %}>{{ ticket.user_comments }}</textarea>
                        </div>

                        
                        <div class="modal-footer "{% if user.is_superuser %}hidden{% endif %}>
                            <button type="submit" class="btn btn-success btn-sm" >Add Comments</button>
                        </div>
                        
                    </form>


                </div>
            </div>
        </div>
    </div>


{% endblock  %}