{% extends "base.html" %}
{% load static %}
{% block title %}Worklog Details{% endblock title %}
{% block page-title %}Worklog Details{% endblock page-title %}


{% block style %}
    .small-btn {
        padding: 2px 8px;
        font-size: 12px;
        height: 35px;
        width: auto;
        line-height: 1;
    }




{% endblock style %}


{% block content %}
{% with worklog.status.status as current_status %}

            {% if form.errors %}
            <div class="alert alert-danger">
                <ul>
                    {% for field in form %}
                        {% for error in field.errors %}
                            <li><strong>{{ field.label }}</strong>: {{ error }}</li>
                        {% endfor %}
                    {% endfor %}
                    {% for error in form.non_field_errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}


        <div class="card card-default m-2">
            <div class="card-header">
                <div class = "container row form-group">
                    <div class="form-group col-3">
                        <label for="date">Date</label>
                        <input type="date" class="form-control" id="date" name="date" value="{{ worklog.date|date:'Y-m-d' }}" readonly>
                    </div>
                    <!-- Week -->
                    <div class="form-group col-2">
                        <label for="week">Week</label>
                        <input type="text" class="form-control" id="week" name="week" value="{{ worklog.week }}" readonly>
                    </div>
                   
                    <!-- project_support -->
                    <div class="form-group col-4">
                        <label for="exampleFormControlSelect12">Project/Support</label>
               
                        <input type="text" class="form-control" id="projects" name="project_support" value="{{ worklog.ticket.ticket_type.name }}" readonly>


                    </div>
                </div>
               
                <form class="form-group col-12" method="POST" action="{% url 'worklogdetails' worklog.id %}">
                    {% csrf_token %}
                    <div class = "row">
                        <div class="form-group col-12">
                            <label for="workdone">Work Done</label>
                            <textarea class="form-control" id="workdone" name="workdone" rows="2" {% if current_status == "Reviewed" %}readonly{% endif %}>{{ worklog.workdone }}</textarea>
                        </div>


                    </div>
                       
                    <div class = " row">



                        <!-- Ticket -->
                        <div class="form-group col-4">
                            <label for="ticket">Ticket</label>
                            <select class="form-control" id="ticket" name="ticket" {% if current_status == "Reviewed" %}disabled{% endif %}>
                                <option value="" {% if not worklog.ticket_id %}selected{% endif %} disabled hidden >Select a ticket</option>
                                {% for i in tickets %}
                                    <option value="{{ i.id }}" {% if i.id == worklog.ticket_id %}selected{% endif %} >{{ i.ticket_id }}</option>
                                {% endfor %}
                            </select>
                        </div>


                       <!-- Category -->
                        <div class="form-group col-4">
                            <label for="exampleFormControlSelect12">Category</label>
                            <input type="text" class="form-control" id="category" name="category" value="{{ worklog.category }}" {% if current_status == "Reviewed" %}readonly{% endif %} >
                        </div>
                   
                        <!-- Hours -->
                        <div class="form-group col-2">
                            <label for="hours">Hours</label>
                            <input type="number" class="form-control" min="0" max="24" id="hours" name="hours" aria-describedby="titleHelp" placeholder="Enter hours" value = "{{worklog.hours}}" {% if current_status == "Reviewed" %}readonly{% endif %} >
                        </div>
                         <!-- Billable -->
                        <div class="form-group col-2">
                            <div class="custom-control custom-checkbox d-inline-block mt-7 mb-3">
                                <input type="checkbox" class="custom-control-input" id="customCheck2" name="billable"{% if worklog.billable %} checked {% endif %} {% if current_status == "Reviewed" %}disabled{% endif %}>


                                <label class="custom-control-label" for="customCheck2"></label>
                              </div>
                              <label for="billable">Billable</label>
                        </div>
                    </div>
                   
                    <div class = " row">


                        <!--Notes-->
                        <div class="form-group col-12">
                            <label for="exampleFormControlTextarea1">Comments</label>
                            <textarea class="form-control" id="shortdescriptionarea" name= "note" placeholder="Enter comments" rows="2" {% if current_status == "Reviewed" %}readonly{% endif %} >{{ worklog.note|default_if_none:"" }}</textarea>
                        </div>                        
                    </div>




                    <!-- Footer -->
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-outline-success small-btn">Save Changes</button>
                        <a href="{% url 'worklog' %}" class="btn btn-outline-danger small-btn d-flex justify-content-center align-items-center text-center">
                            Back
                        </a>
                    </div>
                </form>
                {% if not request.user.is_staff %}
                    {% if worklog.status.status == "Request Review" %}
                        <form method="POST" action="{% url 'worklogdetails' worklog.id %}" style="display: inline;">
                            {% csrf_token %}
                            <input type="hidden" name="change_statusUser" value="true">
                            <button type="submit" class="btn btn-warning small-btn">Request Review</button>
                        </form>
                    {% endif %}
                {% endif %}
                {% if request.user.is_staff %}
                    {% if worklog.status.status == "Pending Review" %}
                        <form method="POST" action="{% url 'worklogdetails' worklog.id %}" style="display: inline;">
                            {% csrf_token %}
                            <input type="hidden" name="change_statusStaff" value="true">
                            <button type="submit" class="btn btn-warning small-btn">Mark as Reviewed</button>
                        </form>
                    {% endif %}
                {% endif %}
                {% if request.user.is_staff %}
                    {% if worklog.status.status == "Reviewed" %}
                        <form method="POST" action="{% url 'worklogdetails' worklog.id %}" style="display: inline;">
                            {% csrf_token %}
                            <input type="hidden" name="change_statusStaff2" value="true">
                            <button type="submit" class="btn btn-warning small-btn">Back to Pending Review</button>
                        </form>
                    {% endif %}
                {% endif %}

            </div>
        </div>

{% endwith %}
{% endblock %}






