amqp==5.3.1
asgiref==3.8.1
billiard==4.2.1
celery==5.5.3
charset-normalizer==3.4.2
click==8.1.8
click-didyoumean==0.3.1
click-plugins==1.1.1
click-repl==0.3.0
colorama==0.4.6
Django==4.2.23
et_xmlfile==2.0.0
kombu==5.5.4
numpy==2.0.2
openpyxl==3.1.5
packaging==25.0
pandas==2.3.0
pillow==11.2.1
prompt_toolkit==3.0.51
python-dateutil==2.9.0.post0
pytz==2025.2
reportlab==4.4.2
six==1.17.0
sqlparse==0.5.3
typing_extensions==4.14.0
tzdata==2025.2
vine==5.1.0
wcwidth==0.2.13
wfastcgi==3.0.0
