{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Force Change Password</title>
    <!-- GOOGLE FONTS -->
    <link href="https://fonts.googleapis.com/css?family=Karla:400,700|Roboto" rel="stylesheet">
    <link href="{% static 'plugins/material/css/materialdesignicons.min.css' %}" rel="stylesheet" />
    <link href="{% static 'plugins/simplebar/simplebar.css' %}" rel="stylesheet" />
    <link href="{% static 'plugins/nprogress/nprogress.css' %}" rel="stylesheet" />
    <link href="{% static 'css/style.css' %}" rel="stylesheet" />
    <link href="{% static 'images/favicon.png' %}" rel="shortcut icon" />
    <script src="{% static 'plugins/nprogress/nprogress.js' %}"></script>
    <!-- FAVICON -->
    <link href="{% static 'images/glacierlogo.png' %}" rel="shortcut icon" />
  </head>

  <body class="bg-light-gray" id="body">
    <div class="d-flex justify-content-center align-items-center" style="min-height: 100vh;">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-10 col-lg-6">
            <div class="card card-default">
              <div class="card-body p-5">
                <h4 class="text-dark mb-5">Change Your Password</h4>

                {% if messages %}
                  {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}">{{ message }}</div>
                  {% endfor %}
                {% endif %}

                <form method="post">
                  {% csrf_token %}

                  <!-- Old password -->
                  <div class="form-group col-md-12 mb-4">
                    <label for="{{ form.old_password.id_for_label }}">Current Password</label>
                    <input type="password" name="{{ form.old_password.name }}" class="form-control input-lg" id="{{ form.old_password.id_for_label }}" placeholder="Enter current password" required>
                    {% if form.old_password.errors %}
                      <small class="text-danger">{{ form.old_password.errors|striptags }}</small>
                    {% endif %}
                  </div>

                  <!-- New password1 -->
                  <div class="form-group col-md-12 mb-4">
                    <label for="{{ form.new_password1.id_for_label }}">New Password</label>
                    <input type="password" name="{{ form.new_password1.name }}" class="form-control input-lg" id="{{ form.new_password1.id_for_label }}" placeholder="Enter new password" required>
                    {% if form.new_password1.errors %}
                      <small class="text-danger">{{ form.new_password1.errors|striptags }}</small>
                    {% endif %}
                  </div>

                  <!-- New password2 -->
                  <div class="form-group col-md-12 mb-4">
                    <label for="{{ form.new_password2.id_for_label }}">Confirm New Password</label>
                    <input type="password" name="{{ form.new_password2.name }}" class="form-control input-lg" id="{{ form.new_password2.id_for_label }}" placeholder="Confirm new password" required>
                    {% if form.new_password2.errors %}
                      <small class="text-danger">{{ form.new_password2.errors|striptags }}</small>
                    {% endif %}
                  </div>

                  <!-- Submit -->
                  {% comment %} <div class="form-group col-md-12 d-flex justify-content-center">
                    <button type="submit" class="btn btn-primary btn-pill mb-4">Change Password</button>
                  </div> {% endcomment %}
                  <button type="submit" class="btn btn-primary w-100 mt-3">Change Password</button>


                </form>
              </div>
            </div>
          </div> 
        </div>
      </div>
    </div>
  </body>

</html>


{% comment %} {% extends "base.html" %} 
{% comment %} {% block content %}
  <h2>Change Your Password</h2>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Change Password</button>
  </form>
{% endblock %}{% endcomment %}


